/* Styles */

#app {
    font: 14px 'Helvetica Heue', Helvetica, Arial, sans-serif;
}

body {
    padding-top: 0px;
}

textarea {
    resize: vertical;
}

.panel.panel-danger>.panel-body {
    background-color: #d6b9b9;
}

.panel.panel-warning>.panel-body {
    background-color: #d6cea8;
}

.panel.panel-success>.panel-body {
    background-color: #b3caac;
}

.panel-body {
    padding: 5px;
}

.panel {
    margin-bottom: 5px;
}

p {
    margin: 5px;
}

.list-group {
    margin-bottom: 5px;
}

.tp-Number {
    text-decoration: underline;
}

.tp-Number:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.assigned-not-responsible {
    color: silver;
    display: inline;
}

.committed-points {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 29.5%;
    z-index: -1;
    /* Sit on top */
}

.standup-count-down-clock {
    position: fixed;
    /* Stay in place */
    -index: -1;
    /* Sit on top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    bottom: 20px;
    right: 30px;
    animation: blinker 1s linear infinite;
    font-size: xx-large;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: red;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}